<!DOCTYPE html>
<html>
  <head>
    <title>MP4 to MP3 File Conversion</title>
    <link rel="stylesheet" href="/static/upload.css">
    
  </head>
  <body>
    <header>
      <h1>&nbsp; &nbsp;MP4 to MP3 File Conversion</h1>
    </header>
    <main>
      <form id="upload-form" method="POST" enctype="multipart/form-data" action="/uploading">
        <label for="file-upload">Select an MP4 file:</label>
        <input type="file" id="file-upload" name="file">
        <button type="submit" id="upload-button">Convert to MP3</button>
      </form>
      <div class="centered">
        <h3>Download the converted file by clicking the button below</h3>
      </div>  
        
      <div id="result">
        {% if show_download == True %}
        <p>Conversion successful!</p>
        <form id="download-form" method="POST" action="/download">
          <button type="submit" id="download-button">Download MP3</button>
        </form>
        {% elif show_download == "Failed" %}
        <p>Conversion failed!</p>
        {% endif %}
      </div>
    </main>
    <footer>
      <p>&copy; 2023 Mrinank Bhowmick</p>
    </footer>
  </body>
</html>
